.slick-dots-bottom {
  bottom: -20px !important;
}
.slick-dots li {
  background-color: #191724;
  border-radius: 9999px;
}
.slick-dots li.slick-active button {
  background-color: #db147f !important;
}
/* 
.slick-track {
  display: flex !important;
  gap: 15px;
}
.slick-slide {
  width: 300px !important;
} */
